---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
                   .-'"'-.                                                                                                 
                  / #     \                                                                                                
                 : #       :                                                                                               
                  \       /                                                                             .-'"'-.                        
                   `.___.'                                                                             / #     \                       
                      )                                                                               : #       :                       
                     (                                                                                 \       /                        
                      )                                        .-'"'-                                   `.___.                          
                     (                                        / #     \                                    (                              
                   {% museumImage "Summer_Wagner-Desert_Lillies.png", "Summer Wagner - Desert Lillies", "absolute left-[4%] top-[29%] w-[27%]" %}                                          : #       :                                    )                              
                                                              \       /                                    (                              
                                                               `.___.`                                      )                           
                                                                  )                                     {% museumImage "Summer_Wagner-three_ladies.png", "Summer Wagner - Unknown title", "absolute left-[69%] top-[38%] w-[27%]" %}
                                                                 (                                                          
                                                                  )                                                       
                                                                  {% museumImage "Summer_Wagner-Dunce_I.png", "Summer Wagner - Dunce I", "absolute left-[37%] top-[47%] w-[27%]" %}
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                        ~~                                                                                                       
                       ~                                                                                                         
                     _u__                    _u__                                                   +                            
                    /____\                  /____\                                                  A                           
    _,              |[][]|                  |[][]|              <a href="/museum/today">V</a>           _,                     /\-\             <a href="/museum/summer-wagner-2" >go further ></a>
     \__,           |[]..|                  |[]..|                           \__,                 /||"|\\                                    
--*.-/\ \..-~~..*---_'--'''--*.--*---.,*,:*_'--'''_-***---._.--.*.._.---**--_/\ \__---**..**..__._|||"|_|___***-..-.***-.-.---.**             
    </div>

</div>