---
layout: layout_contentPage.njk
title: primptempd
---
{% backButton "/" %}
{% titlePage "primptempd ⚘" %}

<div class="flex gap-x-4 gap-y-8 flex-wrap">

    {# RANDOM THOUGHTS #}
    <div class="flex flex-col">
        {% box_1 "❁" %}
        <p>J'ai jamais sû écrire correctement "printemps" alors que c'est pas si compliqué
        </p>
        {% endbox_1 %}
        {% box_1 "⚘" %}
        <p>C'est ma deuxième saison préférée après l'automne.
            Enfin je crois.
            En vrai là c'est le printemps et j'ai l'impression que c'est ma saison préférée mais quand on est en automne c'est l'automne ma saison préférée.
            C'est hyper pratique en vrai.
            Ma saison préférée c'est juste la saison actuelle (sauf l'hiver)
        </p>
        {% endbox_1 %}
        {% box_1 "❦" %}
        <p>Le printemps ça me rends grave nostalgique.
            J'ai l'impression de revenir à l'école primaire.
            Je ressends ce petit stress d'excitation, de renouveau.
            J'ai l'impression que tous les possibles s'offrent à moi, que je vais faire des rencontres, vivre des futurs beaux souvenirs.
            C'est agréable mais ça fait un peu peur. peur de passer à côté.
        </p>
        {% endbox_1 %}
    </div>

    {# PLAYLIST #}
    <div class="flex flex-col">
        {% box_1 "Paylist ♫" %}
        <p>J'ai fait une playlist Spotifhell de mes musiques du printemps (2026)
            J'ai un peu honte de mettre en avant cette entreprise diabolique mais bon... j'ai découvert tellement d'artistes trop super grace à son algorithme des enfers, j'ai un peu l'impression d'avoir signé un pacte avec le diable.

            <a href="https://open.spotify.com/playlist/0NIhUAykiLdxMyD5c0pCpC?si=c135cb89c6d04919" target="_blank" rel="noopener noreferer">* Click pour la playlist :) *</a>
        </p>
        {% endbox_1 %}
        {% box_1 "Big up" %}
        <p>
            Big up à Crash Course de PROP, c'est vraiment un BANGER
            À mes yeux c'est un peu le summum du feel good mais jsp pourquoi à chaque fois que je dis ça à quelqu'un d'une musique, iel me regarde dubitatif et me dit "mais c'est hyper mélancolique..."
            Je dois avoir un rapport un peu mélancolique à la bonne humeur jsp trop zblbvwehe
        </p>
        {% endbox_1 %}
    </div>

    {# SPRINGCORE VIDEO #}
    <video src="/_public/video/primptempd_springcore_gifed.mp4" class="w-[20rem] h-[27rem] object-cover object-top ml-auto rounded-md hue-rotate-30" playslinline autoplay loop muted />

</div>

<div class="flex gap-x-4 gap-y-8 flex-wrap items-end my-8">

    {# FLOWERS #}
    <div class="whitespace-pre font-mono text-[0.75rem]" title="je me suis méga cassé la tête pour mettre les couleurs mdr">
                    <span class="text-[#f40051]">_</span>
                  <span class="text-[#f40051]">_(_)_</span>                          <span class="text-[#bb00f4]">wWWWw</span>   <span class="text-[#f40051]">_</span>
      <span class="text-[#f4e400]">@@@@</span>       <span class="text-[#f40051]">(_)</span>@<span class="text-[#f40051]">(_)</span>   <span class="text-[#009bf4]">vVVVv</span>     <span class="text-[#f40051]">_</span>     <span class="text-[#f4bb00]">@@@@</span>  <span class="text-[#bb00f4]">(___)</span> <span class="text-[#f40051]">_(_)_</span>
     <span class="text-[#f4e400]">@@</span>()<span class="text-[#f4e400]">@@</span> <span class="text-[#bb00f4]">wWWWw</span>  <span class="text-[#f40051]">(_)</span>\    <span class="text-[#009bf4]">(___)</span>   <span class="text-[#f40051]">_(_)_</span>  <span class="text-[#f4bb00]">@@</span>()<span class="text-[#f4bb00]">@@</span>   Y  <span class="text-[#f40051]">(_)</span>@<span class="text-[#f40051]">(_)</span>
      <span class="text-[#f4e400]">@@@@</span>  <span class="text-[#bb00f4]">(___)</span>     `|/    Y    <span class="text-[#f40051]">(_)</span>@<span class="text-[#f40051]">(_)</span>  <span class="text-[#f4bb00]">@@@@</span>   \|/   <span class="text-[#f40051]">(_)</span>\
       /      Y       \|    \|/    /<span class="text-[#f40051]">(_)</span>    \|      |/      |
    \ |     \ |/       | / \ | /  \|/       |/    \|      \|/
    \\|//   \\|///  \\\|//\\\|/// \|///  \\\|//  \\|//  \\\|// 
<span class="text-[#00f449]">^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</span></div>

    {# HYPE THINGS #}
    <div class="flex flex-col ml-auto">
        {% box_1 "hype" %}
        <p>Ce que je me réjouis de faire, ou ce que j'espère faire ce printemps

            ❁ Porter des crop top
            ❁ Porter des jupes
            ❁ Aller au lac avec mes copaines
            ❁ Manger des glaces avec mes copaines
            ❁ Rencontrer des gens (un gen ce serait stylé déjà)
            ❁ Les events genre BDfil, festival de la cité (c'est en été en fait je crois), les divers soirées
            ❁ Trouver une nouvelle coupe de cheveux
            ❁ Jouer à la pétanque avé les copaings
            ❁ Faire n'importe quelle activité avec les copaines en fait
            ❁ Être inspiré
        </p>
        {% endbox_1 %}
    </div>

</div>

<div class="flex gap-x-4 gap-y-8 flex-wrap justify-center my-8">

    {# HYPE THINGS #}
        {% box_1 "Recette de salade tomate mozza" %}
        <p>Ma super salade que je vais manger tous les jours au printemps et en été

            ❦ tomate
            ❦ mozza
            ❦ huile d'olive
            ❦ <span class="text-pink">huile de sésame</span>
            ❦ <span class="text-pink">sauce huitre végan</span>
            ❦ ail en poudre
            ❦ poivre
            ❦ pignons si vous êtes riche (vole les)
            ❦ autres herbes / épices selon l'humeur
        </p>
        {% endbox_1 %}

</div>

{# PHOTOS #}
{% box_1 "| o^| Pics" %}
<p>Quelques photos que j'ai prises qui m'évoquent le printemps
</p>
{% endbox_1 %}
<div class="flex gap-4 flex-wrap items-start mt-4">
    {% for i in range(1, 20) %}
        {% if i != 8 and i != 12 %}
        <a href="/_public/img/primptempd_{{i}}.jpg">
            <img src="/_public/img/primptempd_{{i}}.jpg" alt="Primptemp {{i}}" class="w-2xs h-2xs object-contain">
        </a>
        {% else %}
        <div class="w-2xs"></div>
        {% endif %}
    {% endfor %}
</div>


{# BOTTOM #}
<div class="text-[0.875rem] font-mono mt-32">
    Je vous souhaite un bon primptends :)
</div>