---
layout: layout_contentPage.njk
title: museum
---
{% backButton "/" %}
{% titlePage "museum" %}

<div class="flex justify-center items-center museum-style">

{# 130ch x 35ch #}    <div class="w-[400px] h-[250px] sm:w-[60rem] text-[.75rem] sm:h-[37rem] font-mono whitespace-break-spaces border border-[#78727e] rounded-md bg-[#030303]">
1        10        20        30        40        50        60        70        80        90        100       110       120       1
                                                                                                                                 
                                                                                                                                 
–––.                   .................................................                                                         
   |                   | everything is weird in the galery of the past |                                                        
 <a href="/museum">()</a>|                   °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°                                                         
   |                                                                                                                             
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                         
                                                                                                 |..                         
                                                                                                   |..
                                                                                                     |..                    
25                                                                                                     |..                  
                                                                                                         |..                
                                             Doré           Martin        Brueghel         Bosch           |..              
10                                          .––––.          .––––.         .––––.          .~~~~.            |..            
                                            |o   |          |o   |         |o   |          |°   |              |..          
                                            |  <a href="/museum/gustave-dore">()</a>|          |  <a href="/museum/john-martin">()</a>|         |  ()|          |  ~o|                |..        
                                            |o   |          |o   |         |o   |          |°   |                  |..      
                              ..|––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
15                          ..|                                                                                                  
                          ..|                                                                                                    
                        ..|                          Boullée                                                                     
                      ..|                        |°°°°°°°°°°°°°|                                                                
                    ..|                          |O---         |                                                                 
20                ..|        Veneziano           |             |                                                          
                ..|            .––––.            |O-       (°°)|                                                                 
              ..|              |o   |            |O-       (°°)|                                                                 
            ..|                |  ()|            |         (°°)|                                                                 
          ..|                  |o   |            |O---         |                                                                 
30––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                                
                                                                            |..                                                  
                                                                              |..                                                
                                                                                |..                                              
                                                                                  |..                                            
35                                                                                  ––––––––––––––––––––––––––––––––––––––––––––––
</div>

</div>