---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}    <div class="w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303]">
                                                                                                                                 
                                                                                                                                 
–––.                   .................................................                                                         
   |                   | everything is weird in the galery of the past |                                                        
 <a href="/museum">()</a>|                   °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°                                                         
   |                                                                                                                             
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                         
                                                                                                     |..                    
                                                                                                       |..                  
                                                                                                         |..                
                                             Doré           Martin                         Bosch           |..              
                                            .––––.          .––––.         .––––.          .~~~~.            |..            
                                            |o   |          |o   |         |o   |          |°   |              |..          
                                            |  <a href="/museum/gustave-dore">()</a>|          |  <a href="/museum/john-martin">()</a>|         |  ()|          |  <a href="/museum/hieronymus-bosch">~o</a>|                |..        
                                            |o   |          |o   |         |o   |          |°   |                  |..      
                              ..|––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
                            ..|                                                                                                  
                          ..|                                                                                                    
                        ..|                          Boullée                                                                     
                      ..|                        |°°°°°°°°°°°°°|                                                                
                    ..|                          |O---         |                                                                 
                  ..|                            |             |                                                          
                ..|            .––––.            |O-       (°°)|                                                                 
              ..|              |o   |            |O-       (°°)|                                                                 
            ..|                |  ()|            |         (°°)|                                                                 
          ..|                  |o   |            |O---         |                                                                 
  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                                
                                                                            |..                                                  
                                                                              |..                                                
                                                                                |..                                              
                                                                                  |..                                            
                                                                                    –––––––––––––––––––––––––––––––––––––––––––––
</div>

</div>