html {
    box-sizing: border-box;
}

a {
    color: #57d5ff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.museum-style a {
    color: #ff2ee0;
    font-weight: bold;
}