@font-face {
    font-family: 'Brimstone';
    src: url('_public/font/JD-BRIMSTONE-BASIC.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

a {
    color: #57d5ff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}