.markdown-wrapper {
    overflow-wrap: break-word;
}
.markdown-wrapper > * {
    white-space: pre-line;
}
.markdown-wrapper p+p {
    margin-top: 1rem;
}
.markdown-wrapper a {
    text-decoration: underline;
}

/* OL / UL */
.markdown-wrapper ol,
.markdown-wrapper ul {
    margin-left: 1rem;
    white-space: normal;
}
.markdown-wrapper ol {
    list-style-type: decimal;
}
.markdown-wrapper ul {
    list-style-type: square;
}
.markdown-wrapper ul > li > ul {
    list-style-type: circle;
}
.markdown-wrapper ol li,
.markdown-wrapper ul li {
    margin: 0.25rem 0;
}