.markdown-wrapper {
    overflow-wrap: break-word;
}
.markdown-wrapper > * {
    white-space: pre-line;
}
.markdown-wrapper p+p {
    margin-top: 1rem;
}
.markdown-wrapper a {
    text-decoration: underline;
}

.markdown-wrapper ol {
    list-style-type: decimal;
    margin-left: 1rem;
    white-space: normal;
}
.markdown-wrapper ol li {
    margin: 0.25rem 0;
}