---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem] overflow-hidden">
                                                           <a href="/_public/img/museum/Alexey_Titarenko-Black_Cats.png" class="!text-[#a89061]">|\__/,|   (`\</a>        
                                                         <a href="/_public/img/museum/Alexey_Titarenko-Black_Cats.png" class="!text-[#a89061]">_.|o o  |_   ) )</a>
________________________________________________________<a href="/_public/img/museum/Alexey_Titarenko-Black_Cats.png" class="!text-[#a89061]">(((</a>___<a href="/_public/img/museum/Alexey_Titarenko-Black_Cats.png" class="!text-[#a89061]">(((</a>______<a href="/_public/img/museum/Alexey_Titarenko-Black_Cats.png" class="!text-[#a89061]">/</a>                                                         
° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° ° °|                                                          
  {% museumImage "Alexey_Titarenko-City_of_Shadows_2.png", "Alexey Titarenko - City of Shadows", "absolute left-[1%] top-[15%] w-[23.7%] !border-none" %} {% museumImage "Alexey_Titarenko-City_of_Shadows-1.png", "Alexey Titarenko - City of Shadows", "absolute left-[29%] top-[15%] w-[23%] !border-none" %}                                                                   °|
                                                                      °|                                                      
                                                                      °|                                    _________________     
                                                                      °|                            _..--'/                  \    
                                                                      °|                          ,'     /    -   -   -   -   \   
                                                                      °|                         /      /      -   -   -   -   \  
                                                                      °|                        /      /________________________\ 
                                                                      °|                       /_,--'' |                        |
                                                                      °|                       |       |  {% museumImage "Alexey_Titarenko-City_of_Shadows-Sredniy_Prospekt_(crowd_3).png", "Alexey Titarenko - City of Shadows - Sredniy Prospekt (crowd_3)", "absolute left-[82%] top-[39%] w-[15%] !border-none" %}                      |
                                                                      °|                       |       |  {% museumImage "Alexey_Titarenko-City_of_Shadows-Crowd_at_the_Metro_Entrance_(crowd_2).png", "Alexey Titarenko - City of Shadows - Crowd at the Metro Entrance (crowd_2)", "absolute left-[82%] top-[67%] w-[15%] !border-none" %}                      |
                                                                      °|                   _,-'||_  -  |                        |
                                                                      °|               _,-/    |       |                        |
                                                                      °|           _,-'  /     ||_  -  |                        |
                                                                      °|        ,-'/    /_, - '|       |                        |
______________________________________________________________________°|      /  /_, -' |      ||_  -  |                        |
=======================================================================,  ,-'/_,-'|     ||_  - |       |                        |
__________|________________|_____________|________________|__________ ,-'/_,-|    ||_ - |      ||_  -  |                        |
---------------------------|-------------|---------------------------_,- |   |_ - |     ||_  - |       |                        |
                           |             |    `          `       ,' |_' -|-  |    ||_ - |      ||_  -  |                        |
                           |             |     \           `     :  |   -|   |_ - |     ||_  - |       |                        |
                           |             |                   `.  '  |-   '-  |    ||_ - |      | _   - |                        |
                           |             |       -      `      `   `|   -|   |_ - |     ||_  - |       |                        |
                           |             |        \              `.    ` |-  |    ||_ - |      ||_  -  |                        |
                           |             |         \        `                |    |     ||_  - |       |                        |
                           |             |                   `         `.     ` -.|  :  |  _   ||_   - |                        |
                           |             |           _                             ` -. |   |  |   _   |                        |       
                           |             |            \           `          `.           ` - .|  | |  |                        |      
                           |             |             \           `    <a href="/museum/today">V</a>        `.              ` -' .|________________________|      
                           |             |                                          `.                                                           
    </div>

</div>