---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#0097b7] perspective-[60rem]">
                                                                                                                                 

      <div class="absolute inset-0 w-full h-full flex flex-col justify-evenly">               
            <div class="flex flex-wrap justify-evenly items-center">
                  {% museumImage "Alessandra_Sanguinetti-The_Adventures_of_Guille_and_Belinda-5.jpg", "Alessandra Sanguinetti - The Adventures of Guille and Belinda", "w-[28%] !border-[0.25rem] !border-black" %}                                                                                                                             
                  {% museumImage "Alessandra_Sanguinetti-The_Adventures_of_Guille_and_Belinda-4.png", "Alessandra Sanguinetti - The Adventures of Guille and Belinda", "w-[28%] !border-[0.25rem] !border-black" %}                                                                                                                             
                  {% museumImage "Alessandra_Sanguinetti-The_Adventures_of_Guille_and_Belinda-6.png", "Alessandra Sanguinetti - The Adventures of Guille and Belinda", "w-[28%] !border-[0.25rem] !border-black" %}                                                                                                                             
            </div>                  
      </div>                
      

                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
      <a href="/museum/alessandra-sanguinetti" class="relative z-[2] !text-white" >< go back</a>                                                                                                                     
                                                                                                                                 
                                                                                                                                 
    </div>

</div>