---
layout: layout_contentPage.njk
title: 1501
---
{% backButton "/tout-ce-que-je-ne-t-ai-jamais-ecrit/" %}
{% titlePage "1501" %}

<div class="whitespace-break-spaces max-w-[60rem]">
Comment t'écrire des choses que tu ne sais pas déjà. T'es la seule à qui j'ai tout dit, à qui je dis tout. Tu seras certainement la première à qui je dirais les prochaines choses que j'ai sur le cœur 

Ça fait longtemps que j'ai pas été aussi proche de quelqu'un. C'est un peu bizarre mais en vrai c'est hyper claire dans ma tête. Il y a 3 personnes qui ont changé ma vie. J'ai rencontré la première quand j'avais 12 ans, la deuxième à 19 ans, et je les ai perdues les deux, quasi en même temps, à mes 25 ans

Ensuite il y a eu toi

J'étais au fond du bac, je me sentais seul, j'arrivais à connecter avec personne, je me sentais proche de personne. Tout le monde me paraissait hyper hermétique, hyper loin.

Ensuite il y a eu toi

J'ai pu vivre tellement de choses grâce à toi. Tu le sais, mais je sais pas si tu te rends vraiment compte à quel point ma vie a changé depuis que je te connais, toi et les autres.

2025 a été une des meilleures années de ma vie.
Ça l'aurait pas été sans toi <3

</div>