---
layout: layout_contentPage.njk
title: museum
---
{% backButton "/" %}
{% titlePage "museum" %}

<div class="flex items-center museum-style">

{# 130ch x 35ch #}    <div class="w-[60rem] h-[37rem] text-[.75rem] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303]">
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
–––.                   .................................................                                                         
   |                   | everything is weird in the galery of the past |                                                        
 <a href="/museum">()</a>|                   °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°                                                         
   |                                                                                                                             
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                         
                                                                                                 |..                         
                                                                                                   |..
                                                                                                     |..                    
                                                                                                       |..                  
                                                                                                         |..                
                                             Doré           Martin                         Bosch           |..              
                                            .––––.          .––––.         .––––.          .~~~~.            |..            
                                            |o   |          |o   |         |o   |          |°   |              |..          
                                            |  <a href="/museum/gustave-dore">()</a>|          |  <a href="/museum/john-martin">()</a>|         |  ()|          |  <a href="/museum/hieronymus-bosch">~o</a>|                |..        
                                            |o   |          |o   |         |o   |          |°   |                  |..      
                              ..|––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
                            ..|                                                                                                  
                          ..|                                                                                                    
                        ..|                          Boullée                                                                     
                      ..|                        |°°°°°°°°°°°°°|                                                                
                    ..|                          |O---         |                                                                 
                  ..|                            |             |                                                          
                ..|            .––––.            |O-       (°°)|                                                                 
              ..|              |o   |            |O-       (°°)|                                                                 
            ..|                |  ()|            |         (°°)|                                                                 
          ..|                  |o   |            |O---         |                                                                 
  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                                
                                                                            |..                                                  
                                                                              |..                                                
                                                                                |..                                              
                                                                                  |..                                            
                                                                                    ––––––––––––––––––––––––––––––––––––––––––––––
</div>

</div>