---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}    <div class="w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303]">
                                                                                                                                 
               ...............................                                                                           
–––.           | Promenade of light and time |                                                                           
   |           °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°                                                     Dolorès
 <a href="/museum">()</a>|                                                                                                Marat                                            
   |                           Summer            Alessandra          Pia Paulina                   .~~~~.                      
––––––––|..                    Wagner            Sanguinetti          Guilmoth                     |°   |                    
          |..                  .~~~~.              .~~~~.              .~~~~.                      |  ~o|
            |..                |°   |              |°   |              |\  /|                      |°   |                 
              |..              |  <a href="/museum/summer-wagner">~o</a>|              |  <a href="/museum/alessandra-sanguinetti">~o</a>|              |  <a href="/museum/pia-paulina-guilmoth"> [</a>|                 ..|––––––––––|..   
                |..            |°   |              |°   |              |/  \|               ..|              |..          
                  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––..|    
                                                                                                                         ..|
                                                                                                                       ..|  
                                                                                                                     ..|    
                                                                                                                   ..|           
                                                                                                                 ..|             
                                                                                                               ..|               
                        ..|––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––        
                      ..|                                                                                                       
                    ..|         Zeus               Alexey                                                                        
                  ..|          Ramirez            Titarenko                                                               
                ..|            .––––.               ____                                                                         
              ..|              |o   |              |.   |                                                                        
            ..|                |  <a href="/museum/zeus-ramirez">()</a>|              |  <a href="/museum/alexey-titarenko">--</a>|                                      
          ..|                  |o   |              |.   |                                                                        
  ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––|..                                
                                                                            |..                                                  
                                                                              |..                                                
                                                                                |..                                              
                                                                                  |..                                            
                                                                                    –––––––––––––––––––––––––––––––––––––––––––––
</div>

</div>