---
layout: layout_contentPage.njk
title: 0409
---
{% backButton "/tout-ce-que-je-ne-t-ai-jamais-ecrit/" %}
{% titlePage "0409" %}

<div class="whitespace-break-spaces max-w-[60rem]">
I ment everything I said during the Sextile gig

Je suis tellement heureux qu'on soit amis

Même si des fois il y a pas beaucoup de mots, j'aime trop passer du temps avec toi

Tous ces truc qu'on fait ensemble et avec d'autres, les soirées crêpe, gaufre, fromage, les soirées boom boom musique, les trucs choupi, le lac au milieu de la nuit, les films qu'on regarde ensemble, Bristol, tout ça, it means the WORLD to me

Je sais même pas si tu sais, mais j'étais vraiment au fond du bac quand on s'est rencontré. Vraiment au fond du bac comme je l'ai jamais été. Et le fait de vous avoir rencontré, toi et les autres, ça a TOUT changé.
2025 a été une des plus belles années de ma vie, et c'est quasiment entièrement grâce aux personnes avec qui je l'ai partagée

<3






Je t'aimerais encore plus si tu répondais à mes snaps :p
</div>
