---
layout: layout_contentPage.njk
title: n̶̡̐͜ơ̷̇ͅi̸̡̦̾̋s̴̙̗̈́e̸̡͒
---
{% backButton "/" %}
{% titlePage "n̶̡̐͜ơ̷̇ͅi̸̡̦̾̋s̴̙̗̈́e̸̡͒" %}

<div class="flex flex-col gap-x-4 gap-y-8 flex-wrap overflow-auto py-4">

    <div class="flex gap-x-4 flex-wrap justify-between">
        {% cassetteTape "◌ ⃘♡ Ultra Cute _/☆ﾟ.<br>meowstrogenised energy pee<br>::: ˏˋ♡̩͙♡̩̩̥͙♡̩̥̩ SUMMER HIT ˖⁺‧₊˚♡˚₊‧⁺˖", "/_public/sound/noise/Ultra_Cute-Herzkern-Summer_Hit.mp3", "https://soundcloud.com/herz-kern/summer-hit-1?in=herz-kern/sets/meowstrogenisedenergypee", "/_public/img/noise-meowstrogenised_energy_pee.png" %}
        <div class="mt-32">
            {% cassetteTape "Dreamcrusher<br>Grudge2<br>Youth Problem (feat. Alice Glass)", "/_public/sound/noise/Dreamcrusher-Grudge2-Youth_Problem_feat_Alice_Glass.mp3", "https://dreamcrusher.bandcamp.com/track/youth-problem-feat-alice-glass", "/_public/img/noise-Grudge2.png" %}
        </div>
        <div></div>
    </div>

    <div class="flex gap-x-4 justify-center flex-wrap">
        {% cassetteTape "HYPER GAL<br>Our Hyper<br>Killua", "/_public/sound/noise/HYPER_GAL-Our_Hyper-Killua.mp3", "https://hypergal.bandcamp.com/album/our-hyper", "/_public/img/noise-Our_Hyper.png" %}
        <div></div>
    </div>

    <div class="flex gap-x-64 flex-wrap">
        {% cassetteTape "Masonna (Mademoiselle Anne Sanglante Ou Notre Nymphomanie Auréolé)<br>Vestal Spacy Ritual<br>Untitled (13)", "/_public/sound/noise/Masonna-Vestal_Spacy_Ritual-Untitled_13.mp3", "https://soundcloud.com/noisex-742681897/untitled-633886731?in=noisex-742681897/sets/vestal-spacy-ritual", "/_public/img/noise-Vestal_Spacy_Ritual.png" %}
        <div class="mt-16">
            {% cassetteTape "Evicshen (Victoria Shen) x T. Mikawa<br>Personality Chrysler<br>Won't go home during Bon vacation because of ascites", "/_public/sound/noise/Evicshen_x_T_Mikawa-Personality_Chrysler-Wont_go_home_during_Bon_vacation_because_of_ascites.mp3", "https://evicshen.bandcamp.com/album/personality-chrysler", "/_public/img/noise-Personality_Chrysler.png" %}
        </div>
    </div>
    
    {% box_1 "", "ml-auto" %}
        <a href="https://www.adultswim.com/music/noise/" target="_blank" rel="noopener noreferrer">[adult swim] N O I S E</a>
    {% endbox_1 %}

</div>