---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
                                                                                                                                 

      <div class="absolute inset-0 w-full h-full flex flex-col justify-evenly">
            <div class="flex flex-wrap gap-y-1 justify-evenly items-start">
                  {% museumImage "Pia_Paulina_Guilmoth-5.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-3.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-8.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-6.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-2.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-9.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-1.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-12.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-13.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
                  {% museumImage "Pia_Paulina_Guilmoth-10.jpg", "Pia Paulina Guilmoth", "w-[19%] !border-none" %}                                                                                                                             
            </div>                
      </div>                  
      

                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                <a href="/museum/today" class="relative z-[2]">V</a>                                               
                                                                                                                                 
    </div>

</div>