---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
                                                                                                                                 
                                                                                                                                 
---____                                                                                                                      ____
      ‾‾‾---____                                                                                                   ____---‾‾‾
                ‾‾‾---____                                                                               ____---‾‾‾     
                          ‾‾‾---____                                                           ____---‾‾‾          
                                     ‾‾‾–––––––––––––––––––––––––––––––––––––––––––––––––––-‾‾‾                       
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                   {% museumImage "Gustave_Dore-The_Raven.jpg", "Gustave Doré - The Raven", "absolute left-[8%] top-[30%] w-[18%] rotate-y-[55deg] skew-y-[4.5deg]" %}                    |                          {% museumImage "Gustave_Dore-The_Creation_of_Fish_and_Birds.jpg", "Gustave Doré - The Creation of Fish and Birds", "absolute right-[8%] top-[32%] w-[19%] rotate-y-[-55deg] skew-y-[-4.5deg]" %}                         |                            
                                       |                                                   |                            
                                       |                          {% museumImage "Gustave_Dore-A_canyon.jpg", "Gustave Doré - A Canyon", "absolute left-[50%] translate-x-[-50%] top-[46%] translate-y-[-25%] w-[27%]" %}                         |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |                                                   |                            
                                       |   <a href="/_public/img/museum/Gustave_Dore-Le_Chat_Botte.jpg" class="!text-[#a89061]">\    /\</a>                                         |                            
                                       |___<a href="/_public/img/museum/Gustave_Dore-Le_Chat_Botte.jpg" class="!text-[#a89061]"> )__( ')</a>________________________________________|                           
                             ____---‾‾‾    <a href="/_public/img/museum/Gustave_Dore-Le_Chat_Botte.jpg" class="!text-[#a89061]">(  /  )</a>                                          ‾‾‾---____                  
                  ____---‾‾‾               <a href="/_public/img/museum/Gustave_Dore-Le_Chat_Botte.jpg" class="!text-[#a89061]"> \(__)|</a>                                                    ‾‾‾---____        
       ____---‾‾‾                                                                                               ‾‾‾---____
--‾‾‾‾                                                          <a href="/museum/past">V</a>                                                          ‾‾‾---
    </div>

</div>