---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
⎺⎻⎼⎽⎽_                                                                                                                        _⎽⎽⎼
      ‾⎺⎺⎻⎻⎼⎼⎽⎽_                                                                                                    _⎽⎽⎼⎼⎻⎻⎺⎺‾   
                ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  
                |                                                                                                  |             
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
                |    {% museumImage "Etienne_Louis_Boullee-Cenotaphe_de_Newton.jpg", "Étienne-Louis Boullée - Cénotaphe de Newton", "absolute left-[17%] top-[35%] w-[31%]" %}                                                                                        {% museumImage "Etienne_Louis_Boullee-Cenotaphe_de_Newton_02.jpg", "Étienne-Louis Boullée - Cénotaphe de Newton", "absolute right-[17%] top-[35%] w-[31%]" %}      |              
                |                                                                                                  |               
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
                |                                                                                                  |              
              __| _________________________________________________________________________________________________|__ 
     _⎽⎽⎼⎼⎻⎻⎺⎺                                                                                        \o  o          ‾⎻⎻⎼⎼⎽⎽_   
⎻⎺⎺‾            \o/                                                                                    |\/|\                  ‾⎺⎺
                 |                                               0                                    / \/|                      
                / \                  o                          /|\                                                            
                                    /|\                          A                                                              
                                    /|                          / \                                                             
                                                                                                                                 
                                                                 <a href="/museum/past">V</a>                                                                
                                                                                                                                 
    </div>

</div>