---
layout: layout_contentPage.njk
title: museum
---
{% backButton "/" %}
{% titlePage "museum" %}

<div class="flex justify-center items-center">

{# 130ch x 35ch #}
    <div class="w-[60rem] h-[37rem] text-[.75rem] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303]">
1        10        20        30        40        50        60        70        80        90        100       110       120       1
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
5                                                                                                                                
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
10                                                                                                                               
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
15                                                                                                                               
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
20                                                                                                                               
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
25                                                                                                                               
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
30                                                                                                                               
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
35                                                                                                                               
    </div>

</div>