---
layout: layout_contentPage.njk
title: ⒶCⒶB
---
{% backButton "/" %}
{% titlePage "ⒶCⒶB" %}

<div class="flex gap-x-4 gap-y-8 flex-wrap">

    <div class="flex flex-col gap-4">
        {# antirep #}
        {% box_1 "antirep (legal)" %}
        <div class="flex flex-col">
            <ul>
                <li>
                    <a href="https://admin.climatestrike.ch/uploads/Anti_Rep_RUFC_FR_4d584357ea.pdf" target="_blank" rel="noopener noreferrer">AntiRep* Info</a>
                </li>
                <li>
                    <a href="https://admin.climatestrike.ch/uploads/Legal_RU_4_C_FR_200920_3112092990.pdf" target="_blank" rel="noopener noreferrer">Brochure légale Berne</a>
                </li>
                <li>
                    <span>Faire face à la répression [<a href="https://renverse.co/infos-locales/article/une-brochure-pour-faire-face-a-la-repression-3086" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/brochure_antirep_cahier.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/brochure_antirep_noir_pageparpage.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
                <li>
                    <span>Une BD [<a href="https://infokiosques.net/spip.php?article1863" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/BD_en_GAV_RAD-2021-cahier-12pA4.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/BD_en_GAV_RAD-2021-fil-24pA5.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
                <li>
                    <a href="https://www.amnesty.ch/fr/themes/droit-de-manifester/guide-manif/ai_demo_guide_fr_web.pdf" target="_blank" rel="noopener noreferrer">Guide d'Amnesty</a>
                </li>
            </ul>
            <br>
            <div>"Je n'ai rien à déclarer"</div>

        </div>
        {% endbox_1 %}
    </div>

    {# Tout péter #}
    {% box_1 "révolte", "", "!max-h-none" %}
    <div class="flex flex-col gap-2">
        <a href="https://infokiosques.net/insurrections" target="_blank" rel="noopener noreferrer">En vrac...</a>
        <div>~~~ Manif ~~~</div>
        <ul>
            <li>
                <span>Se protéger des armes de police quelques bases de survie [<a href="https://infokiosques.net/spip.php?article2099" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/se_proteger_armes_de_la_police-2023-12pa5-pageparpage-v2.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/se_proteger_armes_police-6pa4-cahier-2023.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span>
            </li>
        </ul>
        {# STREET MEDIC ZINES #}
        <div>~~~ Street medic ⛑ ~~~</div>
        <ul>
            <li>
                <span>Touxtes Street Medics [<a href="https://infokiosques.net/spip.php?article2092" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/touxtes_street_medics_16p-cahier.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/touxtes_street_medics_16p-page-par-page.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
            <li>
                <span>(Se) protéger et (se) soigner en manif [<a href="https://infokiosques.net/spip.php?article1565" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/se_soigner_se_proteger_en_manif-cahier.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/se_soigner_se_proteger_en_manif_16pages_A5_fil.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
            <li>
                <span>Tuto Medic [<a href="https://infokiosques.net/spip.php?article2001" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/tuto_medic-avril_2021-cahier-6pa4.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/tuto_medic-avril_2021-pageparpage-12pa5.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
        </ul>
        <img src="/_public/img/Street_medics_autonomes_berlin_ouest_1980.jpeg" alt="Street medics autonomes berlin ouest 1980">
    </div>
    {% endbox_1 %}

    {# image #}
    <div class="flex flex-col gap-2">
        {% box_1 %}
        <div class="flex flex-col gap-2">
            <img src="/_public/img/Manifestation-Creys-Malville-contre-superphenix-1977.jpg" alt="Manifestation Creys Malville contre superphenix 1977.jpg">
        </div>
        {% endbox_1 %}
        {% box_1 "*" %}
        <p>
            <strong>SRC</strong> = source originale où j'ai pris les documents.

            <strong>cahier</strong> = format prêt à l'impression en livret (impression recto verso, plié en deux puis agrafé au milieu).

            <strong>ppp</strong> = page par page. Les pages sont dans l'ordre, une page par feuille.
        </p>
        {% endbox_1 %}
    </div>

    <div class="w-full flex flex-wrap justify-between">

        {# CARE #}
        <div class="flex flex-col">
            {% box_1 "Prendre soin de nous"%}
            <div class="flex flex-col gap-2">
                <ul>
                    <li>
                        <span>La team Patpat’ gère ses casseroles | protocole de gestion d’agressions en milieux militants [<a href="https://frap.noblogs.org/la-team-patpat-gere-ses-casseroles-brochure/" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/A5_livret_La_team_Patpat__gere_ses_casseroles.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/La_team_patpat_gere_ses_casseroles.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
                    <li>
                        <span>Lavomatic - lave ton linge en public [<a href="https://infokiosques.net/spip.php?article672" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/lavomatic_cahierA5.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/lavomatic_A4.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
                    <li>
                        <span>Soutenir un-e survivant-e d’agression sexuelle [<a href "https://infokiosques.net/spip.php?article793" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/soutenir_unE_survivantE_d_agression_sexuelle-16pA4-cahier.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/soutenir_unE_survivantE_d_agression_sexuelle_16p_A5-fil.pdf" target="_blank" rel="noopener noreferrer">ppp</a>]</span></li>
                    <li>
                        <span>Beautiful, difficult, powerful - Ending sexual assault through transformative justice [<a href="https://remuernotremerde.poivron.org/?p=1188" target="_blank" rel="noopener noreferrer">SRC</a>] [<a href="/_public/docs/acab/Beautiful-Difficult-Powerful.pdf" target="_blank" rel="noopener noreferrer">cahier</a>] [<a href="/_public/docs/acab/Beautiful-Difficult-Powerful_ppp.pdf" target="_blank" rel="noopener noreferrer">ppp</a>] [<a href="/_public/docs/acab/Chrysalis+Collective+(2011)+Beautiful,+Difficult,+Powerful+-+Ending+Sexual+Assault+Through+Transformative+Justice-2.pdf" target="_blank" rel="noopener noreferrer">ppp 2</a>]</span></li>
                </ul>
            </div>
            {% endbox_1 %}
            {% box_1 "", "", "!max-h-[15rem]" %}
            {# 9 principes pour le soutien aux survivantEs #}
            <img class="max-w-[20rem] mb-8" src="/_public/img/9_principes_pour_le_soutien_aux_survivantEs.png" alt="9 principes pour le soutien aux survivantEs">
            {% endbox_1 %}
        </div>

        {# superphenix #}
        {% box_1 "superphénix" %}
        <div class="flex flex-col gap-2">
            <a href="https://fr.wikipedia.org/wiki/Superph%C3%A9nix#1982_:_attaque_du_chantier" target="_blank" rel="noopener noreferrer">Le type a juste tiré au lance roquette sur la centrale...</a>
            <p>
            "Le 18 janvier 1982, une attaque au lance-roquettes vise le chantier de la centrale nucléaire de Superphénix, sans faire de victimes[11], mais occasionne quelques dégâts matériels."
        </p>
            <img src="/_public/img/Manifestation-Creys-Malville-contre-superphenix-1977_(2).jpg" alt="Manifestation Creys Malville contre superphenix 1977.jpg">
        </div>
        {% endbox_1 %}

    </div>

    {# SUV #}
    {% box_1 "Mode d'emploi pour dégonfler un SUV" %}
    <div class="flex flex-col gap-2">
        {% renderFile "src/acab/Mode_d-Emploi_Pour_Dégonfler_Un_SUV.md" %}
        <a href="https://droges.bandcamp.com/track/mode-demploi-pour-d-gonfler-un-suv" target="_blank" rel="noopener noreferrer">En chanson</a>
    </div>
    {% endbox_1 %}

    {# moloteuf #}
    {% box_1 "recettes de smoothies", "lg:-mt-32" %}
    <div class="flex flex-col gap-2">
        <p>Base:
            ess3nce | méth4nol | éth4n0l

            Topping:
            + phosphore blanc = boom
            + poudre noir = boom
            + mousse de polystyrène = épaississant et adhérant
            + goudron = adhérant & fumée noire
            + détergent = longue durée & dispersant
            + H2SO4 dedans & KClO3 dehors = pas besoin de mèche
            + colorant alimentaire (optionnel) = pour la couleur :·)

            Recettes populaires:
            · Le gars chill: 3/4 essence, 1/4 huile
            · Le gourmand: 3/4 essence, 1/4 huile, 15ml goudron
            · La viking: essence + 15ml goudron
            · La parisienne: 50% essence, 50% acétone, 50ml térébenthine, mousse de polystyrène broyée
            · La portuaire: 70% essence, 30% polystyrène broyé dissout au max dans de l'acétone
            · L'extrême: savon à lessive râpé dissout dans de l'essence + poudre d'aluminium

            Mais bon... tout ça c'est sur Wikipedia ;)
        </p>
    </div>
    {% endbox_1 %}

    {# clown army #}
    <a href="/acab/clown-army" title="Clandestine Insurgent Rebel Clown Army" class="max-w-[calc(100vw_-_1.5rem)] sm:max-w-box-1 mx-auto">
        <img src="/_public/img/acab_Circaflier.jpg" alt="CIRCA recruitment poster, with side by side comparison with U.S. Army incentives, standards, and values.">
    </a>

</div>