---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[145.95vh] max-w-[60rem] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
    </div>

</div>