{% macro musicPlayer(musics) %}
    <div class="w-full h-8" style="background: linear-gradient(180deg,rgba(177, 28, 87, 1) 0%, rgba(177, 28, 87, 1) 12%, rgba(239, 123, 82, 1) 12%, rgba(239, 123, 82, 1) 25%, rgba(234, 234, 116, 1) 25%, rgba(234, 234, 116, 1) 37%, rgba(35, 129, 67, 1) 37%, rgba(35, 129, 67, 1) 50%, rgba(36, 139, 205, 0.75) 50%);" >
        <div class="max-max-w-reached:px-3 max-w-[1000px] mx-auto flex justify-between items-center">
            <div class="flex items-end">
                <img src="/public/img/k7.jpg" alt="" class="h-full">
                <div class="mx-1 whitespace-nowrap overflow-hidden max-w-[calc(100vw_-_180px)]">
                    {% for music in musics %}
                        <div class="audio-title hidden text-s text-white overflow-hidden text-ellipsis">{{ music.fields.title }}</div>
                        <audio class="hidden" src="https:{{ music.fields.file.url }}"></audio>
                    {% endfor %}
                </div>
            </div>
            <div class="flex gap-2 items-center">
                <button type="button" title="Previous track" class="prev w-6 h-6 p-1 flex justify-center items-center border-1 border-gray cursor-pointer" style="background: linear-gradient(179deg,rgba(229, 154, 181, 1) 0%, rgba(255, 232, 240, 1) 26%, rgba(220, 119, 155, 1) 100%); filter: drop-shadow(1px 1px 1px var(--color-primary));">
                    <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 1.14 14.5 14.72">
                        <path d="M7 8.5L14.5 1.13878L14.5 15.8612L7 8.5Z" fill="white"></path>
                        <path d="M-3.71547e-07 8.5L7.5 1.13878L7.5 15.8612L-3.71547e-07 8.5Z" fill="white"></path>
                    </svg>
                </button>
                <button type="button" title="Play/Pause" class="play-pause w-6 h-6 p-1 flex justify-center items-center border-1 border-gray cursor-pointer" style="background: linear-gradient(179deg,rgba(229, 154, 181, 1) 0%, rgba(255, 232, 240, 1) 26%, rgba(220, 119, 155, 1) 100%); filter: drop-shadow(1px 1px 1px var(--color-primary));">
                    <svg class="icon-play w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12.75 14.72">
                        <path d="M12.75 7.36121L-6.93316e-07 14.7224L-4.97778e-08 -1.05709e-05L12.75 7.36121Z" fill="white"></path>
                    </svg>
                    <svg class="icon-pause hidden w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                        <rect width="5" height="15" fill="white"></rect>
                        <rect x="9" width="5" height="15" fill="white"></rect>
                    </svg>
                </button>
                <button type="button" title="Next track" class="next w-6 h-6 p-1 flex justify-center items-center border-1 border-gray cursor-pointer" style="background: linear-gradient(179deg,rgba(229, 154, 181, 1) 0%, rgba(255, 232, 240, 1) 26%, rgba(220, 119, 155, 1) 100%); filter: drop-shadow(1px 1px 1px var(--color-primary));">
                    <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="2.5 1.14 14.5 14.72">
                        <path d="M10 8.5L2.5 15.8612L2.5 1.13878L10 8.5Z" fill="white"></path>
                        <path d="M17 8.5L9.5 15.8612L9.5 1.13878L17 8.5Z" fill="white"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}