---
layout: layout_contentPage.njk
title: tornadoes
---
{% backButton "/" %}
{% titlePage "tornadoes" %}

<div class="flex gap-x-4 gap-y-8 flex-wrap overflow-auto py-4">
    <div class="w-full flex flex-wrap gap-x-4 gap-y-8 justify-between">
        
        {# MY TEXT #}
        {% box_1 "Mon_amour_bizarre_des_chasseurs_de_tornade.md" %}
            {% renderFile "src/tornadoes/Mon_amour_bizarre_des_chasseurs_de_tornade.md" %}
        {% endbox_1 %}

        {# BEAUTIFUL TORNADO #}
        {% box_1 "Never_seen_a_tornado_move_like_this_in_my_life.mp4", "", "!max-h-none" %}
        <video loop muted autoplay playsinline>
            <source src="/_public/video/tornadoes-Never_seen_a_tornado_move_like_this_in_my_life.mp4" type="video/mp4">
        </video>
        {% endbox_1 %}
        <div></div>
    </div>

    {# VIDEO 1 #}
    {% box_1 "This_is_the_storm_Ill_tell_my_grandkids_about.mp4", "", "!max-h-none" %}
        <p>Cette vidéo elle me fait quelque chose un peu. J'aime vraiment pas les Etats-unis mais ÇA! Ça c'est une version de l'énergie états-unienne que j'aime beaucoup.</p>
        <video controls loop>
            <source src="/_public/video/tornadoes-This_is_the_storm_Ill_tell_my_grandkids_about.mp4" type="video/mp4">
        </video>
        <p>[<a href="https://www.instagram.com/p/DLi9MWHMbOA/" target="_blank" rel="noopener noreferer" >source</a>]</p>
    {% endbox_1 %}
    {# COUPLE IMAGE #}
    {% box_1 "couple_goal.jpg", "", "!max-h-none" %}
        <img src="/_public/img/tornadoes_couple.jpeg" title="couple heureux devant une tornade">
        <p>Iels ont pas l'air trop heureux·ses ???</p>
        <p>Cette photo est la raison principale de la création de cette page dédiée aux tornades</p>
    {% endbox_1 %}

    {# DOMINATOR #}
    {% box_1 "DOMINATOR 3", "ml-auto", "!max-h-none" %}
        <p>Est-ce qu'on peut parler 2 secondes de ce véhicule?</p>
        <img src="/_public/img/tornadoes_dominator.png" title="Dominator 3">
        <p>Apparemment il y a des HARPONS dessous pour qu'il puisse s'accrocher au sol [<a href="https://www.youtube.com/watch?v=1sbTxV2CaSM" target="_blank" rel="noopener noreferer">video</a>]</p>
        <p>Il y a aussi un lance missile sur le toit qui tire des petits missiles avec des parachutes qui transportent des appareils de mesure</p>
        <p>La joie qu'iels ont après être passé DANS la tornarde ça me TERMINE [<a href="https://www.youtube.com/watch?v=T3yF5-OsijM" target="_blank" rel="noopener noreferer">video</a>]
        <p><a href="https://www.youtube.com/watch?v=yfLi7ysSdGk" target="_blank" rel="noopener noreferer" >Vidéo de présentation du véhicule en détail</a> bon par contre ils sont quand même vraiment très USA core. (Son rire me terrifie)</p>
        <img src="/_public/img/tornadoes_dominator1.jpg" title="Dominator 1">
        <p>La V1 elle a une gueule encore plus folle</p>
    {% endbox_1 %}
    
    {# NINTENDO DS #}
    {% box_1 "Borrowed_my_brothers_DS_hope_he_likes_the_new_wallpaper.mp4", "", "!max-h-none" %}
        <p>Mood</p>
        <video controls loop>
            <source src="/_public/video/tornadoes-Borrowed_my_brothers_DS_hope_he_likes_the_new_wallpaper.mp4" type="video/mp4">
        </video>
        <p>[<a href="https://www.instagram.com/p/DNzPnnPwFkZ/" target="_blank" rel="noopener noreferer" >source</a>]</p>
    {% endbox_1 %}
    
    {# OOPS #}
    {% box_1 "We_got_trapped_inside_a_tornado_Thankful_to_be_alive.mp4", "ml-auto", "!max-h-none" %}
        <p>Bon forcément ça devait arriver</p>
        <video controls loop>
            <source src="/_public/video/tornadoes-We_got_trapped_inside_a_tornado_Thankful_to_be_alive.mp4" type="video/mp4">
        </video>
        <p>[<a href="https://www.instagram.com/p/Cx6LxW3JlT6/" target="_blank" rel="noopener noreferer" >source</a>]</p>
    {% endbox_1 %}

    <div class="ml-auto"></div>

</div>