---
layout: layout_contentPage.njk
title: museum
---
{% backButton "/" %}
{% titlePage "museum" %}

<div class="flex items-center museum-style">

{# 130ch x 35ch #}
    <div class="relative w-[60rem] h-[37rem] text-[.75rem] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
)           _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(       '`.         
        .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .-  `
       ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(  )  
`.     `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   . ) 
  )      ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (  ))
)  )  ( )       --'       `- __.'         :(      ))   ( )       --'       `- __.'         :(      ))   ( )       --'       `- __'  
.-'  (_.'          .')                    `(    )  )) (_.'          .')                    `(    )  )) (_.'          .')            
                  (_  )                     ` __.:'                (_  )                     ` __.:'                (_  )           
     _                       (`  ).                   _                       (`  ).                   _                       (` ).
 .:(`  )`.                  (     ).              .:(`  )`.                  (     ).              .:(`  )`.                  (    )
:(   .    )                _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(     
`.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(     .
  ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (.._.:
     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(        ) 
)     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'  )
        :(      ))   ( )       --'       `- __.'         :(      ))   ( )       --'       `- __.'         :(      ))   ( )       -' 
        `(    )  )) (_.'          .')                    `(    )  )) (_.'          .')                    `(    )  )) (_.'         .
          ` __.:'                (_  )                     ` __.:'                (_  )                     ` __.:'               (_
              (`  ).                   _                       (`  ).                   _                       (`  ).              
             (     ).              .:(`  )`.                  (     ).              .:(`  )`.                  (     ).             
)           _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(       '`.         :
        .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .-  `
       ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(  )  
`.     `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   . ) 
  )      ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (  ))
)  )  ( )       --'       `- __.'         :(      ))   ( )       --'       `- __.'         :(      ))   ( )       --'       `- __'  
.-'  (_.'          .')                    `(    )  )) (_.'          .')                    `(    )  )) (_.'          .')            
                  (_  )                     ` __.:'                (_  )                     ` __.:'                (_  )           
     _                       (`  ).                   _                       (`  ).                   _                       (` ).
 .:(`  )`.                  (     ).              .:(`  )`.                  (     ).              .:(`  )`.                  (    )
:(   .    )                _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(     
`.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(     .
  ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (.._.:
     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(        ) 
)     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'  )
        :(      ))   ( )       --'       `- __.'         :(     <a href="/museum/past">V</a> )   ( )       --'       `- __.'         :(      ))   ( )       
    </div>

{% museumImage "Hieronymus_Bosch-The_Garden_of_Earthly_Delights-2560x1457.jpg", "Hieronymus Bosch - The Garden of Earthly Delights", "absolute left-[50%] translate-x-[-50%] top-[55%] translate-y-[-50%] w-[56%]" %}
</div>