---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[145.95vh] max-w-[60rem] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">
  )      ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   ( 
)  )  ( )       --'       `- __.'         :(      ))   ( )       --'       `- __.'         :(      ))   ( )       --'       `- __
.-'  (_.'          .')                    `(    )  )) (_.'          .')                    `(    )  )) (_.'          .')         
                  (_  )                     ` __.:'                (_  )                     ` __.:'                (_  )        
     _                       (`  ).                   _                       (`  ).                   _                       (`
 .:(`  )`.                  (     ).              .:(`  )`.                  (     ).              .:(`  )`.                  (  
:(   .    )                _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(  
`.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(   
  ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..
     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       
)     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'
        :(      ))   ( )       --'       `- __.'         :(      ))   ( )       --'       `- __.'         :(      ))   ( )       
        `(    )  )) (_.'          .')                    `(    )  )) (_.'          .')                    `(    )  )) (_.'       
          ` __.:'                (_  )                     ` __.:'                (_  )                     ` __.:'              
              (`  ).                   _                       (`  ).                   _                       (`  ).           
             (     ).              .:(`  )`.                  (     ).              .:(`  )`.                  (     ).          
)           _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(       '`.       
        .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .-
       ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(  
`.     `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .
  )      ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   ( 
)  )  ( )       --'       `- __.'         :(      ))   ( )       --'       `- __.'         :(      ))   ( )       --'       `- __
.-'  (_.'          .')                    `(    )  )) (_.'          .')                    `(    )  )) (_.'          .')         
                  (_  )                     ` __.:'                (_  )                     ` __.:'                (_  )        
     _                       (`  ).                   _                       (`  ).                   _                       (`
 .:(`  )`.                  (     ).              .:(`  )`.                  (     ).              .:(`  )`.                  (  
:(   .    )                _(       '`.          :(   .    )                _(       '`.          :(   .    )                _(  
`.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(      .   )     .--  `.  (    ) )           .=(`(   
  ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..__.:'-'   .+(   )   ` _`  ) )           ((    (..
     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       ) )       (   .  )     (   )  ._        `(       
)     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'   )     (   (   ))     `-'.-(`  )        ` __.:'
        :(      ))   ( )       --'       `- __.'         :(     <a href="/museum/past">V</a> )   ( )       --'       `- __.'         :(      ))   ( )    
    </div>

{% museumImage "Hieronymus_Bosch-The_Garden_of_Earthly_Delights-2560x1457.jpg", "Hieronymus Bosch - The Garden of Earthly Delights", "absolute left-[50%] translate-x-[-50%] top-[50%] translate-y-[-50%] w-[56%]" %}
</div>