---
layout: layout_contentPage.njk
title: 0102
---
{% backButton "/tout-ce-que-je-ne-t-ai-jamais-ecrit/" %}
{% titlePage "0102" %}

<div class="whitespace-break-spaces max-w-[60rem]">
Je suis tellement heureux qu'on soit amis

T'étais la seule raison pour laquelle j'aimais bien venir à l'EPSIC.
Quand t'étais plus dans notre classe ça me réjouissait trop quand tu venais manger avec nous

J'aimais trop suivre tes vlogs. Et j'aime toujours trop regarder tes vidéos, même si parfois le sujet je m'en fiche un peu

Je sais pas pourquoi ça nous a pris tant de temps à vraiment hangout ensemble haha, mais je suis trop heureux qu'on le fasse maintenant

Être allé voir MDNS avec toi au Balelec ça a été un peu un turning point. J'étais SI HEUREUX d'y aller avec toi.
Ok take un peu intense mais, je crois que ton invitation à ton Noël en 2024 ça a vraiment changé ma vie

On a sûrement pas l'amitié la plus intense du monde, mais je suis hyper heureux qu'elle ait tenu tout ce temps, et j'espère qu'elle va tenir pour TOUTE LA VIE <3<3<3<3<3
</div>
