---
layout: layout_contentPage.njk
title: Have you been to the Mystery Park ?
---
{% backButton "/" %}
{% titlePage "Have you been to the Mystery Park ?" %}

<div class="flex flex-wrap gap-x-4 gap-y-8">
    {# INTRO #}
    {% box_1 "The Mystery Park", "", "!max-h-none" %}
    {% renderFile "src/have-you-been-to-the-mystery-park/the-mystery-park.md" %}
    <img src="/_public/img/mysterypark_2002_logo.png" class="mt-4" title="Mystery Park logo in 2002">
    {% endbox_1 %}

    {# IMAGE - WALLPAPER #}
    <div class="flex flex-col items-end gap-1 ml-auto">
        {% box_1 "official_mysterypark_wallpaper_2005.jpg", "!max-w-box-3", "!max-h-none" %}
        <img src="/_public/img/official_mysterypark_wallpaper_2005.jpg" alt="Mystery Park Wallpaper">
        {% endbox_1 %}
        <p class="text-sm">This was an official wallpaper you could download on their 2005 website</p>
    </div>

    <div class="flex flex-col gap-8">
        {# THE PLACE #}
        {% box_1 "The Place" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/the-place.md" %}
        {% endbox_1 %}
    </div>

    <div class="flex flex-col gap-4">
        {# THE ATTRACTIONS #}
        {% box_1 "The Pavilions / Attractions" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/the-pavilions.md" %}
        {% endbox_1 %}
        <div class="hidden whitespace-pre font-mono text-[0.5rem]">
            .     .       .  .   . .   .   . .    +  .
  .     .  :     .    .. :. .___---------___.
       .  .   .    .  :.:. _".^ .^ ^.  '.. :"-_. .
    .  :       .  .  .:../:            . .^  :.:\.
        .   . :: +. :.:/: .   .    .        . . .:\
 .  :    .     . _ :::/:               .  ^ .  . .:\
  .. . .   . - : :.:./.                        .  .:\
  .      .     . :..|:                    .  .  ^. .:|
    .       . : : ..||        .                . . !:|
  .     . . . ::. ::\(                           . :)/
 .   .     : . : .:.|. ######              .#######::|
  :.. .  :-  : .:  ::|.#######           ..########:|
 .  .  .  ..  .  .. :\ ########          :######## :/
  .        .+ :: : -.:\ ########       . ########.:/
    .  .+   . . . . :.:\. #######       #######..:/
      :: . . . . ::.:..:.\           .   .   ..:/
   .   .   .  .. :  -::::.\.       | |     . .:/
      .  :  .  .  .-:.":.::.\             ..:/
 .      -.   . . . .: .:::.:.\.           .:/
.   .   .  :      : ....::_:..:\   ___.  :/
   .   .  .   .:. .. .  .: :.:.:\       :/
     +   .   .   : . ::. :.:. .:.|\  .:/|
     .         +   .  .  ...:: ..|  --.:|
.      . . .   .  .  . ... :..:.."(  ..)"
 .   .       .      :  .   .: ::/  .  .::\
        </div>
    </div>

    {# IMAGE - PLAN #}
    {% box_1 "official_mystery_park_plan.jpg", "!max-w-box-2" %}
    <img src="/_public/img/mysterypark_plan.jpg" alt="Mystery Park Plan">
    {% endbox_1 %}

    {# ATTRACTION DISCLAIMER #}
    <div class="flex flex-col">
        <img src="/_public/img/mysterypark_gif_2005.gif" title="Random Mystery Park gif featured on their old website" class="max-w-[20rem]">
        {% box_1 "Disclaimer" %}
        <p>The following texts describing the pavilions are taken directy from the official Mystery Park brochures and website. The website is no longer online but it's on the wayback machine (between 2003 and 2005).</p>
        <p>You'll find the official PDF brochure for each pavilions</p>
        {% endbox_1 %}
    </div>

    {# *********************************************************** VIMANAS ************************************************************ #}

    {# IMAGE - VIMANA #}
    <img src="/_public/img/vimana_2.jpeg" title="Vimana image found on Google image" class="h-fit self-end mb-20">
    <img src="/_public/img/vimana.jpg" title="Vimana image found on the 2005 Mystery Park website" class="h-fit self-end mb-20">

    <div class="flex flex-col">
        {# PAVILION 1 - VIMANA #}
        {% box_1 "Pavilion 1 - Vimana" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/Vimanas_Space_Shuttles_of_Ancient_India.md" %}
        {% endbox_1 %}
        {% box_1 "Brochures", "", "!text-[0.75rem]" %}
        <a href="/_public/docs/mysterypark_vimana_en.pdf" target="_blank">mysterypark_vimana_en.pdf</a><br>
        <a href="/_public/docs/mysterypark_vimana_fr.pdf" target="_blank">mysterypark_vimana_fr.pdf</a><br>
        <a href="/_public/docs/mysterypark_vimana_de.pdf" target="_blank">mysterypark_vimana_de.pdf</a>
        {% endbox_1 %}
    </div>

    {# *********************************************************** ORIENT ************************************************************ #}

    <div class="flex flex-col">
        {# PAVILION 2 - ORIENT #}
        {% box_1 "Pavilion 2 - Orient" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/Orient_Pyramids_built_without_blueprints.md" %}
        {% endbox_1 %}
        {% box_1 "Brochures", "", "!text-[0.75rem]" %}
        <a href="/_public/docs/mysterypark_orient_en.pdf" target="_blank">mysterypark_orient_en.pdf</a><br>
        <a href="/_public/docs/mysterypark_orient_fr.pdf" target="_blank">mysterypark_orient_fr.pdf</a><br>
        <a href="/_public/docs/mysterypark_orient_de.pdf" target="_blank">mysterypark_orient_de.pdf</a>
        {% endbox_1 %}
    </div>

    {# IMAGES #}
    <div class="flex flex-col gap-4">
        <figure class="max-w-[15rem]">
            <img src="/_public/img/mystery_park_pyramid_beer_bar.jpg" title="Mystery Park Pyramid Beer Bar" class="h-fit">
            <figcaption class="text-sm mt-1 leading-[1.2]">There was a beer bar shaped like a Pyramid and I'm obsessed with it</figcaption>
        </figure>
    </div>

    {# *********************************************************** MAYA ************************************************************ #}

    {# IMAGES #}
    <div class="flex flex-col h-full justify-end gap-4">
        <figure class="max-w-[10rem]">
            <img src="/_public/img/mysterypark_maya_pyramid.jpg" title="Image used in the brochure" class="h-fit">
        </figure>
    </div>

    <div class="flex flex-col">
        {# PAVILION 3 - MAYA #}
        {% box_1 "Pavilion 3 - Maya" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/Maya_A_nation_of_brilliant_astronomers.md" %}
        {% endbox_1 %}
        {% box_1 "Brochures", "", "!text-[0.75rem]" %}
        <a href="/_public/docs/mysterypark_maya_en.pdf" target="_blank">mysterypark_maya_en.pdf</a><br>
        <a href="/_public/docs/mysterypark_maya_fr.pdf" target="_blank">mysterypark_maya_fr.pdf</a><br>
        <a href="/_public/docs/mysterypark_maya_de.pdf" target="_blank">mysterypark_maya_de.pdf</a>
        {% endbox_1 %}
    </div>

    {# *********************************************************** MEGASTONES ************************************************************ #}

    <div class="flex flex-col">
        {# PAVILION 4 - MEGASTONES #}
        {% box_1 "Pavilion 4 - Megastones" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/MegaStones_A_time_machine_of_the_high_priests.md" %}
        {% endbox_1 %}
        {% box_1 "Brochures", "", "!text-[0.75rem]" %}
        <a href="/_public/docs/mysterypark_megastones_en.pdf" target="_blank">mysterypark_megastones_en.pdf</a><br>
        <a href="/_public/docs/mysterypark_megastones_fr.pdf" target="_blank">mysterypark_megastones_fr.pdf</a><br>
        <a href="/_public/docs/mysterypark_megastones_de.pdf" target="_blank">mysterypark_megastones_de.pdf</a>
        {% endbox_1 %}
    </div>

    {# VIDEO #}
    <div class="flex flex-col h-full justify-end gap-4">
        <figure>
            <video controls>
                <source src="/_public/video/Mystery-Park-Lasershow-2.mp4" type="video/mp4">
            </video>
            <figcaption class="text-sm leading-[1.2]">A sneak peek recorded by a visitor of the Stonehenge laser show at the Mystery Park</figcaption>
        </figure>
        {% box_1 "" %}
        <p>You can find other videos of the laser show here</p>
        <p>Mystery Park - Lasershow 1 [<a href="https://www.youtube.com/watch?v=i6CrBStxpZs" target="_blank" class="">YouTube</a>] [<a href="/_public/video/Mystery-Park-Lasershow-1.mp4" target="_blank" class="">mp4</a>]
        Mystery Park - Lasershow 2 [<a href="https://www.youtube.com/watch?v=a33gmuW6aW0" target="_blank" class="">YouTube</a>] [<a href="/_public/video/Mystery-Park-Lasershow-2.mp4" target="_blank" class="">mp4</a>]
        Mystery Park - Lasershow 3 [<a href="https://www.youtube.com/watch?v=6hxUyl_TmBA" target="_blank" class="">YouTube</a>] [<a href="/_public/video/Mystery-Park-Lasershow-3.mp4" target="_blank" class="">mp4</a>]</p>
        {% endbox_1 %}
    </div>

    {# *********************************************************** CONTACT ************************************************************ #}

    <div class="flex flex-col">
        {# PAVILION 5 - CONTACT #}
        {% box_1 "Pavilion 5 - Contact" %}
        {% renderFile "src/have-you-been-to-the-mystery-park/Contact_Culture_shock_or_inspiration.md" %}
        {% endbox_1 %}
        {% box_1 "Brochures", "", "!text-[0.75rem]" %}
        <a href="/_public/docs/mysterypark_contact_en.pdf" target="_blank">mysterypark_contact_en.pdf</a><br>
        <a href="/_public/docs/mysterypark_contact_fr.pdf" target="_blank">mysterypark_contact_fr.pdf</a><br>
        <a href="/_public/docs/mysterypark_contact_de.pdf" target="_blank">mysterypark_contact_de.pdf</a>
        {% endbox_1 %}
    </div>

    {# ASIDE ABOUT GOLDEN INCA MINIATURE AIRCRAFTS #}
    {% box_1 "Aside about antique airplanes" %}
    {% renderFile "src/have-you-been-to-the-mystery-park/Aside_about_the_antique_airplanes.md" %}
    {% endbox_1 %}
</div>

{# <img src="/_public/img/mysterypark_gif_2005.gif" alt="Random Mystery Park gif featured on their old website"> #}