---
layout: layout_contentPage.njk
title: ⏾ Slumber
---
{% backButton "/" %}
{% titlePage "⏾ Slumber" %}

<div class="flex gap-x-4 gap-y-8 flex-wrap">
    {# SLEEP PARALYSIS FR #}
    {% box_1 "My_sleep_paralysis_fr.md" %}
    {% renderFile "src/slumber/My_sleep_paralysis_fr.md" %}
    {% endbox_1 %}

    {% box_1 "☽" %}
    ¨¨
    {% endbox_1 %}

    <div class="flex flex-col">
        {# IMAGE COME TRUE #}
        <div class="max-w-box-1">
            <img src="/_public/img/please_wake_up.jpg" class="mix-blend-screen" alt="please wake up">
        </div>
        {# GIF COME TRUE #}
        <div class="max-w-box-1 rounded-md overflow-hidden border border-gray">
            <img src="/_public/img/come_true_(2).gif" alt="Come True">
        </div>
    </div>

    <div class="flex flex-col">
        {# <div class="max-w-box-1">
            <img src="/_public/img/stress.jpeg" class="contrast-[1.15]" alt="Image that makes me feel, just a bit, the stress of my fever dreams">
        </div> #}
    </div>

    <div class="grow flex flex-col gap-4">
        <div class="flex gap-x-4 gap-y-8 flex-wrap">
            {% box_1 "" %}
            {% endbox_1 %}
            {% box_1 "" %}
            {% endbox_1 %}
            {% box_1 "" %}
            {% endbox_1 %}
            {% box_1 "" %}
            {% endbox_1 %}
        </div>
        <div class="ml-auto">
            {% box_1 "What did you dream about ?" %}
                <a href="/slumber/your-dreams">⏾ Your dreams/</a>
            {% endbox_1 %}
        </div>
    </div>

    {# FEVER DREAM #}
    <div class="relative">
        <div class="mb-4">
            <p class=" whitespace-pre font-mono text-[0.59rem] white">
      +  +      .                                 .*           +       ''       
                                         *                  '     |             
             '                  '       '                       - o -   o       
                '' '                             .                | '           
                                    .             .-.         +                 
                                 '               . ) )                  +       
                            +                     '-´    +                      
       . |                  '                                         +         
       --o--                               *                         '          
         | .               '  '*   o       *       .   .'       +               
      '    '  ' '       '        |                                              
                              .- o -     .            '      *             +    
       .                         |                                      .       
        </p>
        </div>
        {% box_1 "My_fever_dream.md" %}
        {% renderFile "src/slumber/My_fever_dream.md" %}
        {% endbox_1 %}
    </div>

    <div class="flex flex-col">
        <div class="mb-4">
            <p class=" whitespace-pre font-mono text-[0.59rem] white">
'    ' .                              +'                .                       
  .                                                      +                      
                .                 +               o               _|_          '
.         '        +     +                                    +    |            
                   + '         .                                                
             +             +                      .. +     .-.              +   
            .                      .     '                  ) )                 
      '   *      '                '.                       '-´        +      +  
  .  .  +                              +    *+                                  
     +                                           .                  '     '     
        '                       o |                   *                         
 '                      *     +  -+-                               _|_         .
           o +                    |             .            +      |       '   
              .               o    .        *            '                 . *  
      *     |              *        ' '  +        o                             
        . - o -  +   .                      +  .      '           '         .   
   .  '     |  +                                .           + +            '    
 o      .       .             +     +          |                       '        
                     '                        -o-                               
                                     +       ' |       .+   '                   
                          +         *                           '   ..          
                    *    +             *                                   . .  
        </p>
        </div>
        {% box_1 "The_universal_fever_dream.md" %}
        {% renderFile "src/slumber/The_universal_fever_dream.md" %}
        {% endbox_1 %}
    </div>

    <div class="flex flex-col">
        <p class=" whitespace-pre font-mono text-[0.59rem] white">
'    ' .                              +'                .                       
  .                                                      +                      
                .                 +               o               _|_          '
.         '        +     +                                    +    |            
                   + '         .                                                
     +                                           .                  '     '     
        '                       o |                   *                         
 '                      *     +  -+-                               _|_         .
           o +                    |             .            +      |       '   
                  +                       .                  + +                
      *     |              *        ' '  +        o                             
        . - o -  +   .                      +  .      '           '         .   
   .  '     |  +                                .           + +            '    
 o      .       .             +     +          |                       '        
                     '                        -o-                               
                                     +       ' |       .+   '                   
                     +     o                     '                              
                     +               '   '    .        '  .                     
 *         o   '   .-.                       .      +               +     '     
                    ) )                                      .'                 
 .  +   +          '-´                                            .   '         
                    *    +             *                                   . .  
      *     |              *        ' '  +        o                             
        . - o -  +   .                      +  .      '           '         .   
   .  '     |  +                                .           + +            '    
        </p>
        <div class="font-mono mb-4">Quelques témoignages trouvés sous le post</div>
        {% box_1 "[...]" %}
        big but small... Large but short... Heavy but light... Ki||er but cute... Broo idk how can that be possibl... And u see this dream just when u are sick
        {% endbox_1 %}
        {% box_1 "[...]" %}
        And then you can't even explain what was scaring you
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "note : this one describes it SO WELL" %}
        <p class="whitespace-break-spaces">
        This is actually insane.

        I used to have nightmares like this as a kid that were terrifying in the most abstract, almost geometric, way.
        
        Whenever I try to remember them, the only way I can find to describe them is like… imagine you zoomed into a single second, like the second hand on a clock, till it was so big that it towered over you with impossible size, but it is still just represented a second, just a single moment, but that single moment was so overwhelmingly big or important, everything would change or fall apart or crush you based on what happened in that one second. It was this feeling of something that, in both a spatial/geometrical way and time/causal way, was both so small you would overlook it it also so huge it would crush you… something so brief that you would completely miss it, but so important that literally everything depended on it. And that’s just how I would put words to it.
        
        The dreams were almost not even dream; instead take all of that and distill it into just a feeling… a feeling of abstract overwhelmed terror
        </p>
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "[...]" %}
        One of the only dreams I can remember having as a kid is one of a ball rolling around a funnel and as it gets toward the bottom it starts rolling around faster and faster but at the same time moving infinitely slow, accelerating and frozen, so close to reaching the bottom but knowing it will never truly stop
        {% endbox_1 %}
        {% box_1 "[...]" %}
        BRO THIS I had the exact same type of dream, an extremely small number is bigger than the biggest number but is smaller
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "note: l'altérnance entre les moments calmes et malhaisant et les moments frénétiques est très accurate" %}
        I used to dream or hallucinate a voice steadily climbing from soft and quiet to super loud and screaming with the whole room getting intense, it was a similar feeling and very scary
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "note : Le suivant résone beaucoup avec l'aspect lointain et proche, en même temps. Le 'IT was so lonely' résone aussi pas mal" %}
        Everything felt so far away but so near wt the same time. It stayed in the corner but also in the middle, IT was so lonely but at the same time it was surrounded by circles like himself
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "[...]" %}
        The frame keeps zooming themselves endlessly and big blocks of entities pushing against me.
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "note: Celui-ci montre bien l'aspect dramatique, triste, terrifiant. Ce ne sont pas juste les effets de distortion décrit par le syndrome l'Alice au Pays des Merveilles. L'ambiance générale est extrêmement négative" %}
        Are we talking about the abstract fever dream where reality feels like it’s collapsing in on itself and everyone in existence is about to die?
        {% endbox_1 %}
        <div class="h-8"></div>
        {% box_1 "[...]" %}
        A planet sized object on top of a needle
        {% endbox_1 %}
        {% box_1 "[...]" %}
         the ball was rolling on a gray surface. Something about the speed it was rolling made me so uneasy. I can’t explain it. Felt like impending doom.
        {% endbox_1 %}
        {% box_1 "[...]" %}
         My dream was somewhat on same grids. But it was I was walking on these things grid lines, the feeling was I have to cover each and every line and with each step I take the weight on my back increased. There was a weird feeling of weakness come with it that I never felt in real life.
        {% endbox_1 %}
    </div>

</div>

<div class="text-[0.875rem] font-mono mt-8">
    <div class="max-w-[12rem] mb-2">
        <img src="/_public/img/sandman-nightmare-1.gif" alt="Nightmare of the sandman">
    </div>
    Have a good night, asleep or awake
</div>