---
layout: layout_contentPage.njk
title: 2010
---
{% backButton "/tout-ce-que-je-ne-t-ai-jamais-ecrit/" %}
{% titlePage "2010" %}

<div class="whitespace-break-spaces max-w-[60rem]">
J'aimerais bien te connaitre plus
J'aimerais bien qu'on soit plus proche

C'est assez rare les gens avec qui je me sens presque instinctivement à l'aise, avec qui j'ai l'impression que je peux être fully moi même et rien dire si j'ai envie de rien dire et déblatérer mes pensées les plus randoms si j'en ai envie
J'ai l'impression que si je dis un truc, tu vas l'entendre
Peut-être que je me fais des idées et qu'en fait on passerait juste un moment gênant mdr mais jsp j'ai beaucoup aimé les quelques moments qu'on a passé ensemble

T'as un côté un peu rassurant je trouve

T'as une manière de communiquer que j'aime beaucoup




À une fête une fois tu m'as demandé si ça allait, mais genre vraiment.
Au milieu du brouhaha tu m'as touché la jambe, tu m'as regardé droit dans les yeux et tu m'as demandé si ça allait. Tu as créé une petite bulle, personne l'as vue, ça a duré dix secondes, c'était hyper confortable, et tu m'as posé cette question, sincérement, en étant prêt à ce que je réponde non. Et spoiler ça allait bof et j'avais pas envie de le dire, mais tu l'as vu, et tu t'es soucié. Et cette attention m'a tellement touchée, je me suis senti comme si tu m'avais pris dans tes bras et ça allait déjà un petit peu mieux. 
</div>