---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem] overflow-hidden"> @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 ac @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acab @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabac @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacab @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabac @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacab @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacabac @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacabacab @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacabacabac @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacabacabacab @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacabacabacabac @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
 acabacabacabacabacabacab
 acabacabacabacabacabacabac                                                                                                       
 acabacabacabacabacabacabacab                                                                                                     
 acabacabacabacabacabacabacabac                                                                                                   
 acabacabacabacabacabacabacabacab                                                                                                  
 acabacabacabacabacabacabacabacabac                                                                                               
 acabacabacabacabacabacabacabacab                                                                                                 
 acabacabacabacabacabacabacabac                                                                                                   
 acabacabacabacabacabacabacab                                                                                                     
 acabacabacabacabacabacabac                                                                                                       
 acabacabacabacabacabacab                                                                                                         
 acabacabacabacabacabac ·········································································································
 acabacabacabacabacab ···········································································································
 acabacabacabacabac ·············································································································
 acabacabacabacab ···············································································································
 acabacabacabac ················································································································· 
 acabacabacab ···················································································································
 acabacabac ·····················································································································
 acabacab ·······················································································································
 acabac ·························································································································
 acab ···························································<a class="relative z-[2]" href="/museum/today">V</a>······························································· 
 ac ····························································································································· 
                                                                                                                                  
                                                                                                                                 
    <div class="flex flex-col justify-evenly items-center absolute inset-0 w-full h-full">
        <div class="flex justify-evenly items-center">                                                                           
            {% museumImage "Gab_Senechal-1.jpg", "Gab Senechal", "w-[28%] !border-none" %}
            {% museumImage "Gab_Senechal-2.jpg", "Gab Senechal", "w-[28%] !border-none" %}
        </div>
        <div class="flex justify-evenly items-center">
            {% museumImage "Gab_Senechal-3.jpg", "Gab Senechal", "w-[20%] !border-none" %}
            {% museumImage "Gab_Senechal-5.jpg", "Gab Senechal", "w-[20%] !border-none" %}
            {% museumImage "Gab_Senechal-4.jpg", "Gab Senechal", "w-[20%] !border-none" %}
        </div>
    </div>
    </div>
</div>