---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">                  / #     \                                                                                                
                 : #       :                                                                                               
                  \       /                                                                              .-'"'-.                        
                   `.___.'                                                                              / #     \                       
                      )                                       .-'"'-                                   : #       :                       
                     (                                       / #     \                                  \       /                        
                      )                                     : #       :                                  `.___.                          
                     (                                       \       /                                      (                              
                   {% museumImage "Summer_Wagner-House_in_field.png", "Summer Wagner - Unknown", "absolute left-[4%] top-[23%] w-[24%]" %}                                           `.___.`                                       )                              
                                                                 )                                         (                              
                                                                (                                           )                           
                                                                 )                                      {% museumImage "Summer_Wagner-Flower_gun.jpg", "Summer Wagner - Unknown", "absolute left-[71%] top-[32%] w-[24%]" %}
                                                                                                                            
                                                                                                                          
                                                                  {% museumImage "Summer_Wagner-Clouds.png", "Summer Wagner - Unknown", "absolute left-[34%] top-[35%] w-[32%]" %}
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                               
                             ~                                                                                                         
                           _u__                                                                                
                          /____\                                                                              
 <a href="/museum/summer-wagner" >< come back</a>              |[][]|                                     _,                                                  
                          |[]..|                                       \__,                                                            
--_.--**.--*.--*---.,*,:*_'--'''_-***---._.--***-.-.---.*.*.._.---**--_/\ \__---**..**..__.--**.--.**--**-..-.***-.-.---.**--..-*             
    </div>

</div>