---
layout: layout_contentPage.njk
title: Tout ce que je ne t'ai jamais écrit
---
{% backButton "/" %}
{% titlePage "Tout ce que je ne t'ai jamais écrit" %}

<div class="grid grid-cols-[repeat(auto-fill,minmax(3.75rem,1fr))] gap-4">

    {% for i in range(1, 3200) %}
        {% if i < 10 %}
            {% set formattedI = "000" + i %}
        {% elif i < 100 %}
            {% set formattedI = "00" + i %}
        {% elif i < 1000 %}
            {% set formattedI = "0" + i %}
        {% else %}
            {% set formattedI = i %}
        {% endif %}
        <div class="flex-1 border border-gray rounded-md bg-[#030303] markdown-wrapper p-3 text-[0.9375rem]">
            <a href="/tout-ce-que-je-ne-t-ai-jamais-ecrit/{{ formattedI }}">{{ formattedI }}</a>
        </div>
    {% endfor %}

</div>