---
layout: layout_museum.njk
title: museum
---

<div class="relative flex items-center museum-style min-h-[90vh]">

    <div class="absolute top-0 left-0">
        {% backButton "/", "<" %}
    </div>

{# 130ch x 35ch #}
    <div class="relative w-[130ch] h-[90vh] max-h-[37rem] text-[min(2.05vh,0.84rem)] mx-auto font-mono whitespace-pre border border-[#78727e] rounded-md bg-[#030303] perspective-[60rem]">______|______________|______________|______________|______________|______________|______________|______________|______________|__
              |              |              |              |              |              |              |              |         
              |              |              |              |              |              |              |              |                            
______________|______________|______________|______________|______________|______________|______________|______________|_________                   
      |              |              |              |              |              |              |              |              |   
      |              |              |              |              |              |              |              |              |   
______|______________|______________|______________|______________|______________|______________|______________|______________|__      
              |              |              |              |              |              |              |              |         
              |              |              |              |              |              |              |              |                            
______________|______________{% museumImage "Zeus_Ramirez-The_Holy_Mountain.jpg", "Zeus Ramirez - The Holy Mountain", "absolute left-[4%] top-[9%] w-[27%]" %}|______________|______________|______________|______________|______________|______________|_________                   
      |              |              |              |              |              |              |              |              |   
      |              |              |              |              |              |              |              |              |   
______|______________|______________|______________|______________|______________|______________|______________|______________|__      
              |              |              |              |              |              |              |              |         
              |              |              |              |              |              |              |              |                            
______________|______________|______________|______________|______________|______________|______________|______________|_________                   
      |              |              |              |              |              |              |              |              |   
      |              |              |              |              |              |              |              |              |   
______|______________|______________|______________|____________{% museumImage "Zeus_Ramirez-Unknown_2.jpg", "Zeus Ramirez - Unknown", "absolute left-[35%] top-[21%] w-[27%]" %}__|______________|______________|______________|______________|__      
              |              |              |              |              |              |              |              |         
              |              |              |              |              |              |              |              |                            
______________|______________|______________|______________|______________|______________|______________|______________|_________                   
      |              |              |              |              |              |              |              |              |   
      |              |              |              |              |              |              |              |              |   
______|______________|______________|______________|______________|______________|______________|______________|______________|__      
              |              |              |              |              |              |              |              |         
              |              |              |              |              |              |              |              |                            
______________|______________|______________|______________|______________|______________|______________|_____{% museumImage "Zeus_Ramirez-Unknown_1.jpg", "Zeus Ramirez - Unknown", "absolute left-[67%] top-[33%] w-[27%]" %}_________|_________                   
      |              |              |              |              |              |              |              |              |   
      |              |              |              |              |              |              |              |              |   
______|______________|______________|______________|______________|______________|______________|______________|______________|__      
              |              |              |              |    <a href="/museum/today">V</a>         |              |              |              |         
              |              |              |              |              |              |              |              |                            
______________|______________|______________|______________|______________|______________|______________|______________|_________              
    </div>

</div>