---
layout: layout.njk
title: Homepage
---
<h1 class="mb-[1rem]">❊ helloo <span class="font-mono">:)</span> ❊</h1>

<div class="flex flex-wrap gap-x-4 gap-y-8">

    {# POPPY #}
    {% box_1 "poppy.gif" %}
    <img src="/_public/img/poppy.gif" alt="Poppy">

    {# LINKS TO PAGES #}
    {% endbox_1 %}
    <div class="flex flex-col gap-2">
        {% box_1 "",
        "ml-12" %}
        <a href="/slumber">⏾ Slumber/</a>
        {% endbox_1 %}
        {% box_1 %}
        <a href="/have-you-been-to-the-mystery-park">Have you been to the mystery park ?</a>
        {% endbox_1 %}
        {% box_1 "", "mt-auto ml-12" %}
        <a href="/acab">ⒶCⒶB/</a>
        {% endbox_1 %}
        {% box_1 "", "ml-12 self-end" %}
        <a href="/primptempd" class="!text-pink">C'est le primptempds :) /</a>
        {% endbox_1 %}
        {% box_1 "", "ml-4" %}
        <a href="/geodetective">geodetective/</a>
        {% endbox_1 %}
    </div>
</div>

<div class="flex flex-wrap gap-x-4 gap-y-8 mt-8">

    {# RANDOM THOUGHT #}
    <div class="flex flex-col">
        {% box_1 "🎔❁⚘❦" %}
        <p>⁕ Send handwritten letters to your friends
            ⁕ Put trinkets in their mailbox
        </p>
        {% endbox_1 %}
        {% box_1 "food" %}
        <p>⁕ Plant fruit trees in the street
            ⁕ Steal at the supermarket</p>
        {% endbox_1 %}
        {% box_1 "flowers" %}
        <p>⁕ Pick some flowers in the street and gift them to your friends when they invite you over</p>
        {% endbox_1 %}
        {% box_1 "the park" %}
        {% renderFile "src/friends.md" %}
        {% endbox_1 %}
        <div class="h-4"></div>
        {% box_1 "friends (with websites)" %}
        <a href="https://raviolilavande.neocities.org/" target="_blank" rel="noopener noreferrer" class="flex items-center gap-[1ch]">
            <img src="/_public/img/ravioli.png" alt="Ravioli Lavande icon" class="w-5 h-5">
            <span>Ravioli Lavande</span>
        </a>
        <a href="https://nicolasgay.ch/" target="_blank" rel="noopener noreferrer" class="flex items-center gap-[1ch]">
            <img src="/_public/img/beetle.ico" alt="Nicolas Gay icon" class="w-5 h-5">
            <span>Nicolas Gay</span>
        </a>
        <a href="https://crousti.fun/" target="_blank" rel="noopener noreferrer" class="flex items-center gap-[1ch]">
            <img src="/_public/img/croustifun.ico" alt="Il serait temps de mettre une favicon sur crousti.fun" class="w-5 h-5">
            <span>Crousti.fun</span>
        </a>
        {% endbox_1 %}
    </div>

    <div class="ml-auto flex flex-col justify-between gap-4">
        {# COURAGE LE CHIEN FROUSSARG #}
        <div class="ml-auto">
            {% box_1 "The_Last_of_the_Star_Makers_intro.mp4" %}
            <video controls poster="/_public/img/home_Last_of_the_Starmaker_poster.png">
                <source src="/_public/video/The_Last_of_the_Star_Makers_intro.mp4" type="video/mp4">
            </video>
            {% endbox_1 %}
        </div>

        <div class="flex flex-col gap-2">
            {% box_1 "",
            "ml-6" %}
            <a href="/tout-ce-que-je-ne-t-ai-jamais-ecrit">Tout ce que je ne t'ai jamais écrit/</a>
            {% endbox_1 %}
            {% box_1 "",
            "ml-16" %}
            <a href="/ca-ira">Ça ira/</a>
            {% endbox_1 %}
        </div>
    </div>

    {# WORLD OF TOMORROW #}
    <div class="">
        {% box_1 "World_of_tomorrow_extract.mp4",
        "lg:ml-16 mt-16" %}
        <video controls poster="/_public/img/home_World_of_Tomorrow_poster.png">
            <source src="/_public/video/World_of_tomorrow_extract.mp4" type="video/mp4">
        </video>
        {% endbox_1 %}
    </div>

    <div class="flex flex-col justify-between gap-4">
        {# LAVOMATIC #}
        <div class="ml-auto">
            {% box_1 "lavomatic.md", "", "!max-h-[12rem]" %}
            {% renderFile "src/lavomatic_gnagnagna.md" %}
            {% endbox_1 %}
        </div>

        {# Tornadoes #}
        <div class="ml-auto">
        {% box_1 "", "ml-12" %}
            <a href="/tornadoes">tornadoes/</a>
        {% endbox_1 %}
        </div>

        <div></div>
    </div>

    {% box_1 "newsletter" %}
        <p><a href="https://6e747040.sibforms.com/serve/MUIFAJkcz815u1BL8kmChI9pQPhP7yxPVgxgPLLA5YgtsLaLEI7fX4QNHOGY_g4Vr1XRwuzRlfSNu8BsyMK55mIF0bKVlZV9qtjVm3FKJvOlzAP-1NDtovs-k4RLjkbpVCgjDbuaU7QtSNu9Nt2by0j3FxaZ7aK88Zj7VcipqYtToPXu5WPxdM94TdITZwFCFRQDhjGYdS-FpNGg8g==" target="_blank" rel="noopener noreferer">SUBSCRIBE to my newsletter</a> :)</p>
    {% endbox_1 %}

</div>

<script type="text/javascript"></script>
